<?xml version="1.0" encoding="UTF-8"?>
<module>
  <name><![CDATA[opcachemanager]]></name>
  <displayName><![CDATA[thirty bees Opcache Manager]]></displayName>
  <version><![CDATA[1.0.3]]></version>
  <description><![CDATA[View and manage your Opcache directly from your back office]]></description>
  <author><![CDATA[thirty bees]]></author>
  <author_uri/>
  <tab><![CDATA[administration]]></tab>
  <confirmUninstall/>
  <is_configurable>1</is_configurable>
  <need_instance>1</need_instance>
  <limited_countries/>
</module>
