<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>productsmanufacturer</name>
	<displayName><![CDATA[Products of the same manufacturer]]></displayName>
	<version><![CDATA[1.0]]></version>
	<description><![CDATA[Adds a block on the product page that displays products from the same manufacturer.]]></description>
	<author><![CDATA[IQIT-COMMERCE.COM]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>