<?xml version="1.0" encoding="UTF-8"?>
<module>
  <name><![CDATA[sitemap]]></name>
  <displayName><![CDATA[Sitemap]]></displayName>
  <version><![CDATA[4.0.2]]></version>
  <description><![CDATA[Generate your sitemap file]]></description>
  <author><![CDATA[thirty bees]]></author>
  <author_uri/>
  <tab><![CDATA[seo]]></tab>
  <confirmUninstall/>
  <is_configurable>1</is_configurable>
  <need_instance>0</need_instance>
  <limited_countries/>
</module>
