
		#iqitsizeguide{ width: 850px; height: 550px; }
		@media (max-width: 890px) {#iqitsizeguid{  width: 70%; height: 65%;}}
		@media (max-height: 630px) {#iqitsizeguid{ width: 70%; height: 65%;}}

		