<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>pluginadder</name>
	<displayName><![CDATA[Plugin adder]]></displayName>
	<version><![CDATA[1]]></version>
	<description><![CDATA[Important, module must be enabled becouse it is js frame for theme]]></description>
	<author><![CDATA[IQIT-COMMERCE.COM]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<is_configurable>0</is_configurable>
	<need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>