<?xml version="1.0" encoding="UTF-8"?>
<module>
  <name><![CDATA[cookiebot]]></name>
  <displayName><![CDATA[Cookiebot]]></displayName>
  <version><![CDATA[1.0.0]]></version>
  <description><![CDATA[Cookiebot helps make your use of cookies and online tracking GDPR and EPR compliant]]></description>
  <author><![CDATA[thirty bees]]></author>
  <author_uri/>
  <tab><![CDATA[front_office_features]]></tab>
  <confirmUninstall/>
  <is_configurable>1</is_configurable>
  <need_instance>1</need_instance>
  <limited_countries/>
</module>
