#customcontactpage{margin-bottom: 0px;}
#customcontactpage #mapcontact {width: 100%;
height: 350px;
margin-bottom: 20px;
}
#customcontactpage .text_info {margin-bottom: 20px;}
#customcontactpage .customcontactpage_text{margin-top: 20px;}