<?xml version="1.0" encoding="UTF-8"?>
<module>
  <name><![CDATA[statsdata]]></name>
  <displayName><![CDATA[Data Mining for Statistics]]></displayName>
  <version><![CDATA[2.0.2]]></version>
  <description><![CDATA[This module must be enabled if you want to use statistics.]]></description>
  <author><![CDATA[thirty bees]]></author>
  <author_uri/>
  <tab><![CDATA[analytics_stats]]></tab>
  <confirmUninstall/>
  <is_configurable>1</is_configurable>
  <need_instance>0</need_instance>
  <limited_countries/>
</module>
